.box {
    display: flex;
    &_icon {
    width: 2rem;
    margin-right: 1rem;
    } 
    &_text {
    color: #fff;
    font-weight: 500;
    font-size: 1.6rem;
    margin: 2px 0 0 0 ;
    letter-spacing: 1px;
    }
}

.back {
    margin-left: 5rem;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a {
        text-decoration: none;
    }
    &:hover {
        cursor: pointer;
    }
}