$royal_blue : #002366;
$border:  1px solid #fff;


.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.my_h1 {
  color: #fff;
}

